---
---
<nav
  class="bg-tk-elements-topBar-backgroundColor transition-theme border-b border-tk-elements-app-borderColor flex max-w-full items-center p-3 px-4 min-h-[56px]"
>
  <div class="flex flex-1 items-center gap-4">
    <slot name="logo" />
    <a
      href="/playground"
      class="text-sm text-tk-elements-topBar-iconButton-iconColor hover:text-tk-elements-topBar-iconButton-iconColorHover transition-theme"
    >
      Playground
    </a>
  </div>

  <div class="mr-2">
    <slot name="download-button" />
  </div>
  <div class="mr-2">
    <slot name="open-in-stackblitz-link" />
  </div>
  <div>
    <slot name="theme-switch" />
  </div>
  <div>
    <slot name="login-button" />
  </div>
</nav>
